* {
 box-sizing: border-box; 
}

body {
  font-family: 'Raleway', 'Open Sans', 'Helvetivca', 'Arial', sans-serif;
  width: 200vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #3FB8AF;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 40px;
}

small {
  font-size: 0.9em;
  font-weight: 300;
  color: #666;
}

section, nav {
  float: left;
  height: 100vh;
}

nav {
  width: 20vw;
  background: #fff;
  padding: 0 40px;
  background: #3FB8AF;
  color: white;
}

nav h1 {
  font-weight: 300;
  font-size: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  line-height: 35px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
}

section {
  width: 80vw;
}

.page {
  height: 100vh;
  padding-top: 30px;
  padding-right: 30px;
  overflow: auto;
}

a.bookmark {
  margin-bottom: 30px;
  display: block;
}

#copy {
  padding-left: 30px;
  overflow: hidden;
}

#showcase {
  overflow: hidden;
}

#showcase .reel {
  position: relative;
  width: 10000px;
}

.arrow-container {
  position: absolute;
  width: 150px;
  height: 60px;
  right: 20%;
  padding-right: 10px;
  bottom: 0;
}

.arrow {
  background: white;
  font-size: 40px;
  border-radius: 50%;
  display: block;
  float: right;
  text-align: center;
  line-height: 35px;
  width: 50px;
  height: 50px;
  color: #aaa;
  border: 2px solid #aaa;
  bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 300;
}

#showcase .img {
  float: left;
  margin-right: 10px;
}

#showcase .img .caption {
  position: relative;
  opacity: 0;
  bottom: 60px;
  left: 30px;
  max-width: 80%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

@media (max-width: 1200px) {
  body {
    overflow: auto;
  }
  
  nav, section {
    float: none;
    width: 100vw;
  }
  
  nav, #copy, .page {
    height: auto;
  }
  
  nav {
    padding: 20px;
  }
  
  .arrow-container {
    right: 0;
  }
}